<div class="hero-unit">
  <h1 id='fakeId'>My Blogs</h1>

  <ul class="nav nav-pills blogs nav-stacked" >
      <li ng-repeat="blog in blogs" ng-class="blog.activeBlog" > <a ng-click='selectBlog(blog)' >{{blog.name}}</a></li>
  </ul>

</div>

<div ng-show="selectedBlog.name"  class="hero-unit">
	<h1 class='my-blog'  ng-bind="selectedBlog.name || '?'"> ?  </h1>
	<p>Established: {{selectedBlog.published  | date:'fullDate' }}</p>
	<p>Total Posts: {{selectedBlog.posts.totalItems}}</p>
	<a href="#/myblog/{{selectedBlog.id}}" class="btn btn-large btn-primary manage-blog">Manage Blog</a>
</div>
